CITIES_DATA : "ppweb"
SECTORS_DATA : "sectores"
CITY : ["guadalajara", "zapopan", "tonala", "tlaquepaque", "tlajomulco_de_zuniga",
"ixtlahuacan_de_los_membrillos", "el_salto", "juanacatlan", "zapotlanejo",
"lagos_de_moreno", "puerto_vallarta"]

LOCKED_BOX_CUT : 0.05


C_PARAMETER : [0.1, 0.01]
DEGREE : [1]
FINAL_C : 0.001
FINAL_DEGREE : 1

N_TREES : [10, 50, 100, 500, 1000]
N_VARS : [3, 6, 9, 15, 22]
FINAL_N_TREES : 10
FINAL_N_VARS : 22

LEARNING_RATES: [0.0001, 0.001, 0.01, 0.1, 1]
MAX_DEPTH : [1, 3, 6]
SUBSAMPLE : [1, 0.5]
FINAL_LEARNING_RATES : 0.1
FINAL_MAX_DEPTH : 12
FINAL_SUBSAMPLE : 1


ALPHA_REG_TERM : [0, 0.001, 0.01, 0.1, 0.5, 10]
DEGREE_REGS: [1]

